<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
<link rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css'>
<!-- partial:index.partial.html -->
<div class="wrapper">

  <!-- Page Content  -->
  <div id="content">
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <div class="container-fluid">
            <div class="sidebar-header">
                <h3>Data administration</h3>
            </div>                  
      
              <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                  <i class="fas fa-align-justify"></i>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                  <ul class="nav navbar-nav ml-auto">
                      <li *ngIf="!authentifictionService.isLogged()" class="nav-item">
                        <a  routerLink="login" class="nav-link">login</a>
                      </li>
                      
                      <li *ngIf="authentifictionService.isLogged()" class="nav-item">
                          <a class="nav-link" (click)="logout()">Logout</a>
                      </li>
                      <li class="nav-item">
                        <a routerLink="gestion_utilisateurs" class="nav-link" >Users management</a>
                    </li>
                    <li class="nav-item">
                        <a routerLink="data" class="nav-link" >Data management</a>
                    </li>
                  </ul>
              </div>
          </div>
      </nav>
     <router-outlet></router-outlet>
  </div>
</div>
<footer></footer>